@tailwind base;
@tailwind components;
@tailwind utilities;

/* suas animações custom */
@keyframes bounceIn {
  0% { transform: scale(.9); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.animate-bounceIn {
  animation: bounceIn .4s ease-out;
}
